<!doctype html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Cat quirks</title>
        <meta name="description" content="A simple HTML5 Template for new projects.">
        <meta name="Author" content="Static Site Generator">

        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>
        <div class="content">
            <div class="meta">
                <p><b><i>{{input.title}}</i></b></p>
                <p>{{ input.date }}</p>
                <p>Author: {{ input.author }}</p>
            </div>
            
            <div class="article">{{ input.content|safe|indent(width=12) }}</div>

        </div>
    </body>

</html>
